<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ObjemDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ObjemDesktop.Properties.Settings>
      <setting name="AutoStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerIpAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="IsEnableGesture" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Fader1GestureGuid" serializeAs="String">
        <value />
      </setting>
      <setting name="Fader2GestureGUID" serializeAs="String">
        <value />
      </setting>
      <setting name="OBSWebSocketURL" serializeAs="String">
        <value />
      </setting>
    </ObjemDesktop.Properties.Settings>
  </userSettings>
</configuration>